:root {
  --accent-color: #f3f36e;
  --dark-color: #333;
  --light-color: #eee;
  --background-color: #fff;
  --radius: 1em;
}

* {
  all: unset;
  box-sizing: border-box;
}

a {
  text-decoration: unset;
  color: unset;
}

head {
  display: none;
  visibility: hidden;
}

.hidden {
  height: 0 !important;
  max-height: 0 !important;
  overflow: hidden;
  margin: 0 !important;
}

.mobile {
  visibility: visible;
  display: unset;
}

.desktop {
  visibility: collapse;
  display: none;
}

.accent-button {
  background-color: var(--accent-color);
  border-radius: var(--radius);
  padding: 0.5em;
  color: var(--dark-color);
  border: dashed 0.15em var(--dark-color);
}

@media screen and (min-width: 1081px) {
  .desktop {
    visibility: visible;
    display: unset;
  }
  .mobile {
    visibility: collapse;
    display: none;
  }
}
