.login-form-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 92vh;
}

.login-form {
  background-color: var(--light-color);
  border-radius: var(--radius);
  flex-direction: column;
  padding: 2em;
  align-items: center;
  justify-content: center;
  display: flex;
}

.login-form input {
  width: 20em;
  border-radius: var(--radius);
  border: solid 0.25em var(--accent-color);
  background-color: var(--background-color);
}

.login-form > input {
  margin-top: 2em;
}

.login-form > input:first-child {
  margin-top: 0;
}

.login-form button {
  margin-top: 2em;
  align-self: flex-end;
  width: auto;
}

.login-form > .personal-info-container {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20em;
}

.login-form > .personal-info-container > input {
  width: 9em;
}
