.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-color);
  height: 5%;
  align-items: center;
}

#logo {
  margin-left: 1em;
  background-color: var(--accent-color);
  padding: 0.5em;
  border-radius: var(--radius);
  cursor: pointer;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.search-button {
  width: 6em;
}

.search-results {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 95%;
  background-color: white;
  width: calc(100% - 0.5em);
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  border-radius: 0 0 0.4em 0.4em;
  padding-left: 0;
}

.search-results:empty {
  border: none;
}

.result {
  display: flex;
  flex-direction: row;
  padding: 0.4em;
}

.result img {
  max-width: 6em;
  margin-right: 0.3em;
}

.result p {
  margin: auto;
  margin-left: 0;
}

.result.selected {
  background-color: #ebebeb;
}

.result:hover {
  background-color: #ebebeb;
}

@media screen and (min-width: 1081px) {
  .navbar {
    height: 8%;
  }
}
