#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  height: 3em;
  align-items: center;
}

#logo {
  margin-left: 1em;
  background-color: #f3f36e;
  padding: 0.5em;
  border-radius: 1em;
}

#navbar ul li {
  margin-right: 1em;
  padding: 0.2em;
}

.search-button {
  background-color: #f3f36e !important;
  color: #000000 !important;
  border-width: 0 !important;
}
