.profile-container {
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.profile-container .form-container {
  display: flex;
  width: 80%;
  margin: 2em;
  padding: 2em;
  max-width: 75em;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  background-color: var(--light-color);
}

.profile-container .userform {
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.profile-container .userform:last-child {
  margin-right: 0;
}

@media screen and (min-width: 1081px) {
  .profile-container .form-container {
    justify-content: space-between;
  }
}
