.userform {
  background-color: var(--light-color);
  border-radius: var(--radius);
  flex-direction: column;
  width: fit-content;
  padding: 3em;
  display: flex;
}

.userform input {
  width: 30em;
  height: 3em;
  border-radius: var(--radius);
  border: solid 0.25em var(--accent-color);
  background-color: var(--background-color);
}

.userform > input {
  margin-top: 2em;
}

.userform > input:first-child {
  margin-top: 0;
}

.userform button {
  margin-top: 2em;
  align-self: flex-end;
  width: auto;
}

.userform > .side-by-side {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30em;
}

.userform > .side-by-side > input {
  width: 12em;
}

@media screen and (min-width: 1081px) {
  .userform {
    padding: 2em;
  }
  .userform input {
    width: 20em;
    height: 2.5em;
  }
  .userform > .side-by-side {
    width: 20em;
  }
  .userform > .side-by-side > input {
    width: 9em;
  }
}
